@import 'tailwindcss';

/* Light theme (default) */
:root {
  --background: #f9f9f9;
  --foreground: #000000;

  --primary: #f25e3d;
  --muted: #e5e5e5;
  --border: #d4d4d4;
  --overlay: rgba(0, 0, 0, 0.05);

  --font-sans: ui-sans-serif, system-ui, sans-serif;
}

/* Dark theme (auto by system) */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #f0f0f0;

    --muted: #2a2a2a;
    --border: #333333;
    --overlay: rgba(255, 255, 255, 0.1);
  }
}

/* Tailwind theme binding */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-overlay: var(--overlay);
  --font-sans: var(--font-sans);
}

/* Base style */
@layer base {
  html {
    font-family: var(--font-sans);
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  a {
    color: var(--color-primary);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

/* Components */
@layer components {
  .container {
    @apply flex flex-col items-start w-full  px-8 sm:px-16 md:px-36 lg:px-52 xl:px-80 2xl:px-96 pt-24 h-full;
  }
  .title {
    @apply text-4xl sm:text-5xl lg:text-6xl mb-2 text-(--color-primary);
  }
  .subTitle {
    @apply text-3xl mb-4;
  }
  .pill-button {
    @apply rounded-full px-5 py-2 text-sm font-medium transition-colors duration-200 cursor-pointer hover:no-underline;
  }
  .pill-button-default {
    @apply bg-(--color-muted) text-(--color-foreground) hover:bg-(--color-border);
  }

  .pill-button-active {
    @apply bg-(--color-foreground) text-(--color-background) hover:bg-(--color-primary) hover:text-white;
  }

  .pill-badge {
    @apply ml-2 text-xs font-semibold bg-(--color-primary) text-white px-2 py-0.5 rounded-full;
  }
  .overlay {
    background-color: var(--color-overlay);
  }

  .noscroll {
    overflow-y: hidden;
    overflow-x: hidden;
  }
}
